<div class="container content-wrapper buffer-both">
  <h1 class="title-medium"><%= @question.title %></h1>

  <p>
    <time datetime="<%= @question.created_at.strftime('%Y-%m-%d %H:%M:%S') %>">
      <%= @question.created_at.strftime('%Y-%m-%d %H:%M:%S') %></time>
    <br>
    <%= @question.body %>
  </p>
</div>